<!--The content below is only a placeholder and can be replaced.-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!--Navbar -->
<div class="wrapper">
    <header>
       <nav>
          <div class="menu-icon">
             <i class="fa fa-bars fa-2x"></i>
          </div>
          <div class="logo">
             LOGO
          </div>
          <div class="menu">
             <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Contact</a></li>
             </ul>
          </div>
       </nav>
    </header>
    <div class="content">
        <p>
           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
           Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
     </div>
    </div>
  <!--/.Navbar -->
  localhsot:3000/{{nome}}/
  localhsot:3000/{{nome}}/
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <app-home></app-home>
  <!-- Footer -->
<footer class="page-footer font-small primary-color ">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-1">
        <img src="https://gm1.ggpht.com/nvrsbb6aOo6klWoRHxhXj-W5a_uLgF1x72AapMlyVIMZWGvQuxlQ4quFAOrhA1SiaWFYOxyUYd2x6PWC8Q6yplNeSZNyjQOuMUxkSXYNSVnjF7zMxTXNsjsQX9BU-EjC0_9HB8a44WxqQPtiHLN_L6D-EPR3hmaa4CE8gnD1jy5BKzc4Wu0Lq95lMIHQGjjNidB5ieyOBfcF2AwN_QS_GPZesULaTzg4-tknYYPZ_9-sOA3DW-9l2-YVU4O0J0hoas0hm93LzjLvcz-4KvwB7qwuGCZPatKCqFyx7jwk9YZecxDHvsI3e24mHpOmvXJDnvnXz8O0P3LB3ypTBmInkkey3_VdkVEJnC1UwN4HUSNseIns-2-CxSF5RmfSBipBkUCCS80bxerU5joAQx9hunPgETGctkY2dRopNe_jNnyzRPaOi6PaDW1jkkBSF3tt_XiVS4s8TmwLcnfzbh8LPibXkFGDaV13jH27zoReSjLrs4OJSMjlGurEhZjIKbfKTGPix-juhk6viGFUs8lqDxQ6nsJRP5CHAShtZxZ4jtGOewnYB_RInTtLzmWTBfrGxviZOBbVzxlbjSaT_PgbuuYHEN5fLzjFb0DCU1yxr-2JKEq91e0_HWt7L8kF_gOHZ50-NYoHaXTmm9IY-ZnqKvqFtvgQdgYP_R5u7yVxxX6KqCXW23KpTJ6rm5aDbcOyFwIX_0JNz-Iqpiz64BZrsKKZatsSsOVcpS4=s0-l75-ft-l75-ft" class="logo" height="auto" width="200px" >
      </div>

      <div class="col-md-11 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com.br" target="_blank">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic" href="https://twitter.com/" target="_blank">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://br.linkedin.com/" target="_blank">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic" href="https://www.instagram.com.br/" target="_blank">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic" href="https://br.pinterest.com/" target="_blank">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a routerLink=""> SanSeven</a>
  </div>
  <!-- Copyright -->

</footer>

<script>
    $(document).ready(function() {
               $(".menu-icon").on("click", function() {
                     $("nav ul").toggleClass("showing");
               });
         });
   
         // Scrolling Effect
   
         $(window).on("scroll", function() {
               if($(window).scrollTop()) {
                     $('nav').addClass('black');
               }
   
               else {
                     $('nav').removeClass('black');
               }
         })
   </script>